header{
    background-color: lawngreen;
}
nav{
    background-color: beige;
}
section{
    background-color: darkblue;
}
article{
    background-color: gainsboro;
}
aside{
    background-color: white;
}
footer{
    background-color: wheat;
}